*{
	margin:0;
	padding:0;
}
body{
	font-family:"楷体","Arial";;
}
#main{
	margin: 0 auto;
	width:800px;
	height:auto;
	border:1px dotted #000;
}
header{
	border:1px #330000 solid;
	width:800px;
	height:80px;
	background:#6666CC;
}
aside{
	padding:20px 0 0 10px;
	width:200px;
	float: left;
	height:400px;
	background-color:#eeeeee;
}

aside ul{
	margin:0px auto;
	padding:30px 0 0 10px ;
}

h1#text1{
	margin:0px;padding:0px;
	top:15px;
	position:absolute;     /*設定div為絕對定位*/
	font:"黑体";
	font-size:40px;       /*字高*/
	color:#FF0000;       /*字的顏色*/
	margin-left:50px;          /*與元件水平距離*/
}

h1#text2{
	margin:0px;padding:5px;
	position:absolute;
	font-size:30px;
	color:#FFFFFF;
	top:30px;
	margin-left:150px;
	filter:glow(color=#ff0000, strength=5);   /*設定光暈濾鏡*/
	text-shadow: 5px 5px 5px #FF0000;
}
h3#mottotext{
	
	margin:30px 0 0 400px;
	color:#EEEEEE;
	display:none;

}

article{
	width:625px;
	height:450px;
	margin-left:175px;
	padding:10px	
	
}
.consection{
	width:550px;
	height:400px;
	left:10px;top:10px;
	margin:0px auto;
	padding:20px;
	overflow:auto;
}
fieldset{
	border:1px solid;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding:20px;

}
fieldset legend{
	text-align:center; 
	
}
aside img{
	margin:3px;
	border-radius: 30px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border:2px solid;}
footer{
	border:1px #330000 solid;
	background:#6666CC;
	color:#ffffff;
	width:800px;height:30px;
	text-align:center;
	line-height:30px;
}
 .title1{
	color:#0000ff;
	font-family:"楷体"
	font-size:2em;
	font-weight:bold;
	background-image:url(image/r_line.jpg);
	background-repeat:repeat-x;
	background-position:200px  5px;
 }
  .title2{
	 padding:0 0 0 20px;
 }
 legend span{
	 color:red;
	 font-weight:bold;
	 font-size:2em;
 }
 